<h1>Iniciar sesión</h1>

@if (ViewBag.Error != null)
{
    <p style="color:red;">
        @ViewBag.Error
    </p>
}

<form asp-action="Entrar"
      method="post">

    <div>
        <label>Usuario</label>

        <input type="text"
               name="usuario"
               class="form-control" />
    </div>

    <br />

    <div>
        <label>Contraseña</label>

        <input type="password"
               name="password"
               class="form-control" />
    </div>

    <br />

    <button type="submit"
            class="btn btn-primary">
        Entrar
    </button>

</form>

<hr />

<a asp-action="Registro">
    Registrarse
</a>