<h1>Registro</h1>

@if (ViewBag.Error != null)
{
    <p style="color:red;">
        @ViewBag.Error
    </p>
}

<form asp-action="Registro"
      method="post">

    <div>
        <label>Usuario</label>

        <input type="text"
               name="usuario"
               class="form-control" />
    </div>

    <br />

    <div>
        <label>Contraseña</label>

        <input type="password"
               name="password"
               class="form-control" />
    </div>

    <br />

    <button type="submit"
            class="btn btn-success">
        Registrarse
    </button>

</form>